body {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90%;
}
.header {
  font-size: 25px;
  text-align: center;
}
.header__article{
  font-size: 15px;
  color: brown;
}
.text__article{
  font-size: 12px;
}